@import "../node_modules/bulma/sass/utilities/_all"
@import "../node_modules/bulma/sass/grid/columns"
@import "../node_modules/bulma/sass/elements/button"
@import "../node_modules/bulma/sass/components/tabs"
@import "variables"



body
	background: $bggrey
	overflow: scroll
	overflow-x: hidden
	&::-webkit-scrollbar 
		width: 0px  /* remove scrollbar space */
		background: transparent  /* optional: just make scrollbar invisible */

	// @media (min-width: $desktop-breakpoint)
	// 	margin: 4rem
	// 	padding: 0rem


li
	display: inline
	font-family: $font-family
	padding: 0 0.8rem 0 0 


.nav

	height: 160px





.productpic
	background: $white
	border: $border-l
	height: 405px
	margin: 0 0 0.8rem 0

.tab
	background: $lightgrey
	// border: $border-l
	padding: 0.8rem 0 0.1rem 0

.box
	background: $white
	border: $border-l
	margin: 0
	padding: 2.4rem


.allinfo
	height: 1800px
	padding: 0 0 0 8rem

.keyinfo

	width: 400px
	height: 400px



.sticky
	
